 .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    body{
         background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("img/homebg.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    }
    .jumbotron{
        margin-bottom: 0;
    }
    .main-nav{
    list-style: none;
    float: right; 
    margin-top: 2px;
    padding: 0;
    font-size: 15px;}
    
.main-nav li{
    display: inline-block;
    margin-left: 20px;
}
.main-nav li a{
    color: white;
    text-decoration: none;
    font-size: 90%;
    font-weight: bold;
}
.main-nav li a:hover{
    color: orange;
    border-bottom: 2px solid whitesmoke;
    transition: all 0.3s ease-in;
    padding: 6px 0;
}

.logo{
    height: 100px;
    float: left;
    margin-top: 2px;
}
*{
    margin: 0;
    padding: 0;
}
.row{
    max-width:1140px;
    margin: 0 auto;
}
h1{
    color: white;
}

body {
  padding-top: 54px;
}



.portfolio-item {
  margin-bottom: 30px;
}